* {
  font-family: Poppins, sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

.met {
  color: #7f8cff;
  padding-left: 10px;
}

.card-structure {
  display: grid;
  grid-template-rows: 40% 20% 10% 10% 10% 10%;
  height: 100%;
}

.p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card-button {
  display: flex;
  align-items: center;
  text-align: center;
  list-style-type: none;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  background-color: #fff;
  margin-top: 20px;
  width: 180px;
}

.card-button:hover {
  color: #7a869a;
  cursor: pointer;
}

.card-button:active {
  background-color: goldenrod;
}

.img-displayer {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
  flex: none;
}

.project-title {
  display: flex;
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-top: 20px;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

span {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-left: auto;
  margin-right: auto;
}

.canopy-color {
  color: #344563;
}

.tags2 {
  font-family: Poppins, sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 2px;
}

.lang-block {
  list-style-type: none;
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 10px;
}

.lang-text {
  list-style-type: none;
  font-family: poppins, sans-serif;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.about {
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif;
  margin-top: 60px;
  background-image: url(images/base.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  height: 1125.15px;
}

.myself {
  margin-left: 12px;
  margin-right: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  max-width: 300px;
  padding-top: 30px;
}

body {
  background: #e5e5e5;
}

.head {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  justify-content: flex-start;
  background: #fff;
}

.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 44px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 48px;
  padding-top: 20px;
}

.time {
  width: 54px;
  height: 21px;
  padding-left: 20px;
  padding-top: 10px;
}

.time-style {
  width: 54px;
  height: 21px;
}

.time-text {
  display: flex;
  align-items: center;
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.28px;
  color: #000;
}

.group-1 {
  width: 66.66px;
  height: 11.34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
}

.logo-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.logo {
  display: flex;
  align-items: center;
  color: #6070ff;
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.menu-placeholder {
  padding-right: 20px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 114px;
  width: 375px;
  height: 604px;
}

.background-image-1 {
  background-image: url("icons/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  width: 375px;
  height: 587.15px;
  top: 104px;
  position: absolute;
}

.primary-text {
  display: flex;
  align-items: center;
  color: #172b4d;
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 300px;
  height: 150px;
  top: 114px;
}

.primary-description {
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

.link {
  position: relative;
  text-decoration: none;
}

.connect {
  position: static;
  width: 130px;
  height: 24px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 20px;
  margin-right: 20px;
}

.connect:hover {
  opacity: 0.7;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover {
  opacity: 0.7;
}

.works {
  font-family: poppins, sans-serif;
  display: grid;
  margin-top: 110px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 40px 12px;
}

.card-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0e0808;
  border: 1px solid #07e23e;
  box-sizing: border-box;
  border-radius: 16px;
  height: 552px;
  width: 327px;
  top: 114px;
  left: 24px;
  padding: 16px;
}

.primary-text-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 155px;
  height: 80px;
  margin: 12px;
}

.counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
}

.counter-1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
}

.description {
  width: 295px;
  height: 76px;
  top: 92px;
  font-family: monospace;
  font-size: 15px;
  color: #344563;
  margin-left: 10px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 327px;
  height: 464.15px;
  left: 24px;
  top: 547px;
}

.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  width: 327px;
  height: 320.15px;
  margin-top: 30px;
}

.frame-7 {
  display: flex;
  flex-direction: column;
  position: static;
  width: 327px;
  height: 72px;
  flex: none;
  align-items: flex-start;
}

.languages {
  position: absolute;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #000;
  padding-top: 10px;
}

.normal-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-left: 280px;
}

.language-list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 327px;
  height: 248.15px;
  top: 72px;
}

.frame-9 {
  display: flex;
  flex-direction: row;
  position: static;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  margin-top: 12px;
}

.frame-8 {
  position: static;
  width: 303px;
  height: 66.72px;
  align-items: center;
  margin-top: 25px;
}
